.git/objects/pack/pack-6ba01349ba4e3309f8a9a35aa12e2c4641dee152.pack
3_Scanpy/Jupyter_Note/data/pancreas.h5ad
6_Honeycomb_Biotechnologies/Data_Analysis/FASTQs/HC-TestSample1-FBL/HC-TestSample1-FBL_S1_L002_R2.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/FASTQs/HC-TestSample1-FBL/HC-TestSample1-FBL_S1_L002_R1.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/FASTQs/HC-TestSample1-FBL/HC-TestSample1-FBL_S1_L001_R2.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/FASTQs/HC-TestSample1-FBL/HC-TestSample1-FBL_S1_L001_R1.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7061/1_Trimmed/SC_NP_H_7061_R2_TrmP.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7061/1_Trimmed/SC_NP_H_7061_R1_TrmP.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7061/1_RawData/SC_NP_H_7061_S1_L001_R1_001.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7061/1_RawData/SC_NP_H_7061_S1_L001_R2_001.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7061/2_Trimmed_50/SC_NP_H_7061_R2_TrmP.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7061/2_Trimmed_50/SC_NP_H_7061_R1_TrmP.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7063/1_Trimmed/SC_NP_H_7063_R1_TrmP.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7063/1_Trimmed/SC_NP_H_7063_R2_TrmP.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7063/1_RawData/SC_NP_H_7063_S2_L001_R2_001.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7063/1_RawData/SC_NP_H_7063_S2_L001_R1_001.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7063/2_Trimmed_50/SC_NP_H_7063_R1_TrmP.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/SC_NP_H_7063/2_Trimmed_50/SC_NP_H_7063_R2_TrmP.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/HC-TestSample1-FBL/HC-TestSample1-FBL_S1_L002_R2.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/HC-TestSample1-FBL/HC-TestSample1-FBL_S1_L002_R1.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/HC-TestSample1-FBL/HC-TestSample1-FBL_S1_L001_R2.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/FASTQs/HC-TestSample1-FBL/HC-TestSample1-FBL_S1_L001_R1.fastq.gz
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/20210603_GRCh38_104/Homo_sapiens.GRCh38.dna.primary_assembly.fa
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/20210603_GRCh38_104/STAR-2.7.3a/SAindex
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/20210603_GRCh38_104/STAR-2.7.3a/Genome
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/20210603_GRCh38_104/STAR-2.7.3a/SA
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/20210603_GRCh38_104/default.gtf
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/BeeNetOutputs/Beenet_SC_NP_H_250/Beenet_SC_NP_H_7063/SC_NP_H_7063_20240125114410.bam
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/BeeNetOutputs/Beenet_SC_NP_H_250/Beenet_SC_NP_H_7061/SC_NP_H_7061_20240125112551.bam
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/BeeNetOutputs/Beenet_SC_NP_H_250/Beenet_SC_NP_H_7061/SC_NP_H_7061_20240125112551_RCM.tsv
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/BeeNetOutputs/MySample/MySample1_20230426182713_RCM.tsv
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/BeeNetOutputs/MySample/MySample1_20230426182713_TCM.tsv
6_Honeycomb_Biotechnologies/Data_Analysis/3_Additional_Analysis_Resources/1_Example_Data_for_BeeNetPLUS/1_Practice_running_BeeNetPLUS_using_this_dataset/BeeNetOutputs/Beenet_SC_NP_H_100/Beenet_SC_NP_H_7061/Beenet_SC_NP_H_7061_20240130123406.bam
6_Honeycomb_Biotechnologies/Data_Analysis/Analysis_Result/Beenet_SC_NP_H_250/Beenet_SC_NP_H_7063/SC_NP_H_7063_20240125114410.bam
6_Honeycomb_Biotechnologies/Data_Analysis/Analysis_Result/Beenet_SC_NP_H_250/Beenet_SC_NP_H_7061/SC_NP_H_7061_20240125112551.bam
6_Honeycomb_Biotechnologies/Data_Analysis/Analysis_Result/MySample/MySample1_20230426182713_RCM.tsv
6_Honeycomb_Biotechnologies/Data_Analysis/Analysis_Result/MySample/MySample1_20230426182713_TCM.tsv
6_Honeycomb_Biotechnologies/Data_Analysis/Analysis_Result/Beenet_SC_NP_H_100/Beenet_SC_NP_H_7061/Beenet_SC_NP_H_7061_20240130123406.bam
6_Honeycomb_Biotechnologies/Data_Analysis/Analysis_Result/MySample_anndata.h5ad
6_Honeycomb_Biotechnologies/Data_Analysis/20210603_GRCh38_104/Homo_sapiens.GRCh38.dna.primary_assembly.fa
6_Honeycomb_Biotechnologies/Data_Analysis/20210603_GRCh38_104/STAR-2.7.3a/SAindex
6_Honeycomb_Biotechnologies/Data_Analysis/20210603_GRCh38_104/STAR-2.7.3a/Genome
6_Honeycomb_Biotechnologies/Data_Analysis/20210603_GRCh38_104/STAR-2.7.3a/SA
6_Honeycomb_Biotechnologies/Data_Analysis/20210603_GRCh38_104/Homo_sapiens.GRCh38.104.gtf
8_Traning_by_Jaclyn/Bucket_Jaclyn/FASTQs/FASTQs_20230925_BCH_B019_P001_HC_S1_R1_001.fastq.gz
8_Traning_by_Jaclyn/Bucket_Jaclyn/FASTQs/FASTQs_20230925_BCH_B019_P001_HC_S1_R2_001.fastq.gz
8_Traning_by_Jaclyn/Teaching_Examples/BeeNetPlus_Output/TCM_files/data
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/kaggle/output/brain_clusters.h5ad
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/kaggle/output/brain_embeddings.h5ad
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/kaggle/output/brain_normalized.h5ad
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/kaggle/output/brain_qc.h5ad
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/kaggle/output/brain_raw.h5ad
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/kaggle/input/Data/brain_clusters.h5ad
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/kaggle/input/Data/brain_normalized.h5ad
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/kaggle/input/Data/brain_qc.h5ad
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/kaggle/input/Data/brain_counts.csv
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/kaggle/input/Data/test_adata.h5ad
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/kaggle/input/Data/brain_raw.h5ad
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/Paper_Data/local.h5ad
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/Online_Learning/Single_Cell_sanbomics/sanbomics_git/GSM5226574_C51ctr_raw_counts.csv
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/Online_Learning/Single_Cell_RNA_Seq_Using_R/scRNA.seq.course/.git/objects/pack/pack-bd8d223a0951bd799468747aae1c8fd1c4362eb2.pack
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/Online_Learning/Single_Cell_RNA_Seq_Using_R/scRNA.seq.course/data/update/soupX_pbmc10k_filt/matrix.mtx
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/Online_Learning/Single_Cell_Bioinformagician/Tutorial_03_analyze_single_cell/20k_NSCLC_DTC_3p_nextgem_Multiplex_count_raw_feature_bc_matrix.h5
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/Online_Learning/Single_Cell_Bioinformagician/Tutorial_02_reading_files/adata_SS2_for_download.h5seurat
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/Online_Learning/Single_Cell_Bioinformagician/Tutorial_02_reading_files/adata_SS2_for_download.h5ad
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/Online_Learning/Single_Cell_Bioinformagician/Tutorial_02_reading_files/raw_feature_bc_matrix/matrix.mtx.gz
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/Online_Learning/Single_Cell_Bioinformagician/Tutorial_04_Integrate_single_cell/.RData
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/Online_Learning/Single_Cell_Bioinformagician/Tutorial_04_Integrate_single_cell/data/HB53_tumor_filtered_feature_bc_matrix/matrix.mtx.gz
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/Online_Learning/Single_Cell_Bioinformagician/Tutorial_04_Integrate_single_cell/data/HB30_tumor_filtered_feature_bc_matrix/matrix.mtx.gz
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/Online_Learning/Single_Cell_Bioinformagician/Tutorial_05_DoubletFinder_single_cell/data/raw_feature_bc_matrix/matrix.mtx.gz
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/23_Dummy_folder_for_h5ad/SC_NP_H_7061_20240125112551_TCM.tsv
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/23_Dummy_folder_for_h5ad/SC_NP_H_7061_20240125112551.bam
1_Paper_Presentation_Book_Online-Learning-Data_Kaggle/23_Dummy_folder_for_h5ad/SC_NP_H_7061_20240125112551_RCM.tsv
5_Honeycomb/Single_Cell_RNA_Seq_Workflow_Personal_Learning_CHIR_with_R/.RData
5_Honeycomb/Single_Cell_RNA_Seq_Workflow_Personal_Learning_CHIR_with_R/data/20k_NSCLC_DTC_3p_nextgem_Multiplex_count_raw_feature_bc_matrix.h5
5_Honeycomb/Honeycomb_Test_Data/freshvs2weekCMs.tar.gz
5_Honeycomb/Honeycomb_Test_Data/2weekstorage-CountMatrices.tar.gz
5_Honeycomb/Honeycomb_Test_Data/2weekstorage-filteredobject.Rdata
5_Honeycomb/Analysis_at_Terra/Single_cell_Sequencing_analysis_at_CHRF_Data/CHRF_scRNA_Seq_Data/SC_NP_H_7063_Trimmed/SC_NP_H_7063_R1_TrmP.fastq.gz
5_Honeycomb/Analysis_at_Terra/Single_cell_Sequencing_analysis_at_CHRF_Data/CHRF_scRNA_Seq_Data/SC_NP_H_7063_Trimmed/SC_NP_H_7063_R2_TrmP.fastq.gz
5_Honeycomb/Analysis_at_Terra/Single_cell_Sequencing_analysis_at_CHRF_Data/CHRF_scRNA_Seq_Data/SC_NP_H_7061_Trimmed/SC_NP_H_7061_R2_TrmP.fastq.gz
5_Honeycomb/Analysis_at_Terra/Single_cell_Sequencing_analysis_at_CHRF_Data/CHRF_scRNA_Seq_Data/SC_NP_H_7061_Trimmed/SC_NP_H_7061_R1_TrmP.fastq.gz
4_CHRF_Single_Cell/Real_Setup/Codes/Impaired_local_intrinsic_immunity_to_SARS_CoV_2_infection_in_severe_COVID_19.h5ad
4_CHRF_Single_Cell/Real_Setup/7.4.Single_Cell_with_harvard/Lattice_Files_Code_20230605_CZI_Nasal_Mucosa_object.h5ad
4_CHRF_Single_Cell/Real_Setup/7.1.Benchmarking_Single_Cell/BBKNN/bbknn/examples/pancreas.h5ad
4_CHRF_Single_Cell/Real_Setup/7.1.Benchmarking_Single_Cell/data/merged_3_dataset/Local_and_systemic_responses_to_SARS_CoV_2_infection_in_children_and_adults.h5ad
4_CHRF_Single_Cell/Real_Setup/7.1.Benchmarking_Single_Cell/data/merged_3_dataset/Impaired_local_intrinsic_immunity_to_SARS_CoV_2_infection_in_severe_COVID_19.h5ad
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7061/2_Trimmed/without_low_quality_and_shorter_reads/SC_NP_H_7061_TrmS.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7061/2_Trimmed/without_low_quality_and_shorter_reads/SC_NP_H_7061_R2_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7061/2_Trimmed/without_low_quality_and_shorter_reads/SC_NP_H_7061_R1_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7061/2_Trimmed/consider_low_quality_and_shorter_reads/SC_NP_H_7061_TrmS.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7061/2_Trimmed/consider_low_quality_and_shorter_reads/SC_NP_H_7061_R2_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7061/2_Trimmed/consider_low_quality_and_shorter_reads/SC_NP_H_7061_R1_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7061/1_RawData/SC_NP_H_7061_S1_L001_R1_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7061/1_RawData/SC_NP_H_7061_S1_L001_R2_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7061/3_Alignment/SC_NP_H_7061.bam
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7063/2_Trimmed/without_low_quality_and_shorter_reads/SC_NP_H_7063_TrmS.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7063/2_Trimmed/without_low_quality_and_shorter_reads/SC_NP_H_7063_R1_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7063/2_Trimmed/without_low_quality_and_shorter_reads/SC_NP_H_7063_R2_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7063/2_Trimmed/consider_low_quality_and_shorter_reads/SC_NP_H_7063_TrmS.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7063/2_Trimmed/consider_low_quality_and_shorter_reads/SC_NP_H_7063_R1_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7063/2_Trimmed/consider_low_quality_and_shorter_reads/SC_NP_H_7063_R2_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7063/1_RawData/SC_NP_H_7063_S2_L001_R2_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Single_Cell_NP_NextSeq_Batch_24_R/SC_NP_H_7063/1_RawData/SC_NP_H_7063_S2_L001_R1_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_i5_only_v2/Undetermined_S0_L001_R2_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_i5_only_v2/SC_NP_H_7061/2_Trimmed/SC_NP_H_7061_R2_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_i5_only_v2/SC_NP_H_7061/2_Trimmed/SC_NP_H_7061_R1_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_i5_only_v2/SC_NP_H_7061/1_Trimmed/SC_NP_H_7061_R2_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_i5_only_v2/SC_NP_H_7061/1_Trimmed/SC_NP_H_7061_R1_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_i5_only_v2/SC_NP_H_7061/1_RawData/SC_NP_H_7061_S1_L001_R1_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_i5_only_v2/SC_NP_H_7061/1_RawData/SC_NP_H_7061_S1_L001_R2_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_i5_only_v2/SC_NP_H_7063/2_Trimmed/SC_NP_H_7063_R1_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_i5_only_v2/SC_NP_H_7063/2_Trimmed/SC_NP_H_7063_R2_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_i5_only_v2/SC_NP_H_7063/1_Trimmed/SC_NP_H_7063_R1_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_i5_only_v2/SC_NP_H_7063/1_Trimmed/SC_NP_H_7063_R2_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_i5_only_v2/SC_NP_H_7063/1_RawData/SC_NP_H_7063_S2_L001_R2_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_i5_only_v2/SC_NP_H_7063/1_RawData/SC_NP_H_7063_S2_L001_R1_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_i5_only_v2/Undetermined_S0_L001_R1_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/Batch_25/Undetermined_S0_R1_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/Batch_25/Demultiplex/Test/SC_NP_H_7075_S3_L001_R1_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/Batch_25/Demultiplex/Test/Undetermined_S0_L001_R2_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/Batch_25/Demultiplex/Test/SC_NP_H_7074_S2_L001_R2_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/Batch_25/Demultiplex/Test/SC_NP_H_7067_S1_L001_R1_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/Batch_25/Demultiplex/Test/SC_NP_H_7067_S1_L001_R2_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/Batch_25/Demultiplex/Test/SC_NP_H_7074_S2_L001_R1_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/Batch_25/Demultiplex/Test/SC_NP_H_7075_S3_L001_R2_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/Batch_25/Demultiplex/Test/Undetermined_S0_L001_R1_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/Batch_25/Undetermined_S0_R2_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7061/2_Trimmed/without_low_quality_and_shorter_reads/SC_NP_H_7061_TrmS.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7061/2_Trimmed/without_low_quality_and_shorter_reads/SC_NP_H_7061_R2_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7061/2_Trimmed/without_low_quality_and_shorter_reads/SC_NP_H_7061_R1_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7061/2_Trimmed/consider_low_quality_and_shorter_reads/SC_NP_H_7061_TrmS.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7061/2_Trimmed/consider_low_quality_and_shorter_reads/SC_NP_H_7061_R2_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7061/2_Trimmed/consider_low_quality_and_shorter_reads/SC_NP_H_7061_R1_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7061/1_RawData/SC_NP_H_7061_S1_L001_R1_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7061/1_RawData/SC_NP_H_7061_S1_L001_R2_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7063/2_Trimmed/without_low_quality_and_shorter_reads/SC_NP_H_7063_TrmS.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7063/2_Trimmed/without_low_quality_and_shorter_reads/SC_NP_H_7063_R1_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7063/2_Trimmed/without_low_quality_and_shorter_reads/SC_NP_H_7063_R2_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7063/2_Trimmed/consider_low_quality_and_shorter_reads/SC_NP_H_7063_TrmS.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7063/2_Trimmed/consider_low_quality_and_shorter_reads/SC_NP_H_7063_R1_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7063/2_Trimmed/consider_low_quality_and_shorter_reads/SC_NP_H_7063_R2_TrmP.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7063/1_RawData/SC_NP_H_7063_S2_L001_R2_001.fastq.gz
4_CHRF_Single_Cell/Single_Cell_BCL_to_Fastq/Demultiplexed/index_1_Nor_and_index_2_F_Rev_com_Fastq_NS2k_Batch_24_R_SC_v1/SC_NP_H_7063/1_RawData/SC_NP_H_7063_S2_L001_R1_001.fastq.gz
